<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.admin.model.mapper.AdminMapper">

	<resultMap id="memberProfileMap"
		type="edu.kh.project.member.model.dto.MemberProfileRequest"
		autoMapping="true">

		<id property="memberNo" column="MEMBER_NO" />

		<collection property="interestList"
			ofType="java.lang.String">
			<result column="INTEREST_NAME" />
		</collection>

		<collection property="profileList"
			ofType="edu.kh.project.member.model.dto.MemberPhoto"
			autoMapping="true">
			<id property="photoId" column="PHOTO_ID" />
			<result property="photoUrl" column="PHOTO_URL" />
			<result property="renameName" column="RENAME_NAME" />
			<result property="photoOrder" column="PHOTO_ORDER" />
			<result property="originName" column="ORIGIN_NAME" />
		</collection>
	</resultMap>


	<select id="selectMemberList" resultMap="memberProfileMap">
		SELECT
		M.MEMBER_NO,
		M.EMAIL,
		M.NICKNAME,
		M.PHONE AS "phone",
		M.MEMBER_STATUS AS
		"memberStatus",
		TO_CHAR(M.CREATE_DATE, 'YYYY-MM-DD') AS "createDate",
		P.INTRO,
		P.GENDER,
		P.HEIGHT,
		P.MBTI,
		P.BIRTH_DATE AS "birthDate",
		S.SCH_NAME AS "schoolName",
		R.FULL_ADDR AS "regionName",
		C.CODE_NAME AS
		"relationship",
		C2.CODE_NAME AS "affection",
		C3.CODE_NAME AS "contact",
		C4.CODE_NAME AS "zodiac",
		C5.CODE_NAME AS "exercise",
		C6.CODE_NAME AS
		"drinking",
		C7.CODE_NAME AS "smoking",
		C8.CODE_NAME AS "social",
		MC.CODE_NAME AS "INTEREST_NAME",
		(SELECT PHOTO_URL || RENAME_NAME
		FROM
		MEMBER_PHOTOS
		WHERE MEMBER_NO = M.MEMBER_NO
		AND PHOTO_ORDER = 0) AS
		"profileImage",
		MP.PHOTO_ID,
		MP.PHOTO_URL,
		MP.RENAME_NAME,
		MP.ORIGIN_NAME,
		MP.PHOTO_ORDER

		FROM "MEMBER" M
		LEFT JOIN "MEMBER_PROFILE"
		P ON M.MEMBER_NO =
		P.MEMBER_NO
		LEFT JOIN "MASTER_REGIONS" R ON
		P.REGION_ID = R.REGION_ID
		LEFT JOIN "SCHOOL" S ON P.SCH_NO = S.SCH_NO
		LEFT JOIN MEMBER_INTERESTS
		MI ON M.MEMBER_NO = MI.MEMBER_NO
		LEFT JOIN
		"MASTER_CODES" MC ON
		MI.INTEREST_ID = MC.CODE_ID
		LEFT JOIN MEMBER_PHOTOS
		MP ON M.MEMBER_NO =
		MP.MEMBER_NO
		LEFT JOIN "MASTER_CODES" C ON
		M.REL_INTENT_ID = C.CODE_ID
		LEFT JOIN "MASTER_CODES" C2 ON M.AFFECT_ID
		= C2.CODE_ID
		LEFT JOIN
		"MASTER_CODES" C3 ON M.COMM_ID = C3.CODE_ID
		LEFT
		JOIN "MASTER_CODES" C4
		ON M.ZODIAC_ID = C4.CODE_ID
		LEFT JOIN
		"MASTER_CODES" C5 ON
		M.EXERCISE_ID = C5.CODE_ID
		LEFT JOIN "MASTER_CODES"
		C6 ON M.DRINK_ID =
		C6.CODE_ID
		LEFT JOIN "MASTER_CODES" C7 ON M.SMOKE_ID
		= C7.CODE_ID
		LEFT
		JOIN "MASTER_CODES" C8 ON M.SNS_ID = C8.CODE_ID

		ORDER
		BY M.MEMBER_NO
		DESC, MP.PHOTO_ORDER ASC
	</select>


	<update id="updateMemberStatus">
		UPDATE "MEMBER"
		SET MEMBER_STATUS = #{memberStatus}
		WHERE MEMBER_NO = #{memberNo}
	</update>


	<select id="selectReportList"
		resultType="edu.kh.project.admin.model.dto.Report">
		SELECT
		R.REPORT_NO,
		R.REPORT_TITLE,
		R.REPORT_CONTENT,
		TO_CHAR(R.REPORT_DATE, 'YYYY-MM-DD') AS "reportDate",
		R.REPORT_STATUS,
		R.MEMBER_NO,
		R.TARGET_MEMBER_NO AS "targetMemberNo",

		M1.NICKNAME AS
		"reporterNickname",
		M2.NICKNAME AS "targetNickname",

		C.CODE_NAME AS
		"codeName"

		FROM "REPORT" R
		JOIN "MEMBER" M1 ON (R.MEMBER_NO =
		M1.MEMBER_NO)
		JOIN "MEMBER" M2 ON (R.TARGET_MEMBER_NO = M2.MEMBER_NO)
		LEFT JOIN
		"MASTER_CODES" C ON (R.REPORT_NO = C.CODE_ID)

		ORDER BY
		R.REPORT_NO DESC
	</select>


	<update id="processReport">
		UPDATE "REPORT"
		SET REPORT_STATUS = 'Y'
		WHERE REPORT_NO
		= #{reportNo}
	</update>

	<select id="selectAdminQnaList" resultType="Qna">
		SELECT
		Q.QNA_NO,
		Q.QNA_TITLE,
		Q.QNA_CONTENT,
		TO_CHAR(Q.QNA_DATE, 'YYYY-MM-DD') AS
		QNA_DATE,
		Q.MEMBER_NO,
		Q.QNA_STATUS,
		Q.ANSWER_CONTENT,
		M.NICKNAME,
		M.EMAIL
		FROM "QNA" Q
		JOIN "MEMBER" M ON (Q.MEMBER_NO = M.MEMBER_NO)
		ORDER BY
		Q.QNA_NO DESC
	</select>


</mapper>